body{
	background-color: #DAE0E1; 
	color: #1C3C50; 
	margin-left: 50px;
}

p{
	font-size: 150%;
}

h3{
	font-size: 130%;
}

table, ul, ol{
	font-size: 150%;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}


