body {
	background-color: lightGrey;
	text-align: center;
}
#spill{
	position: fixed;
	width: 100%;
}
#poeng h1{
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}
#canvas {
	background-color: black;
	display: block;
	margin: auto;
}